@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  font-family: "Varela Round", sans-serif;
}

/*nav bar*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  height: 20vh;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;

  a {
    font-size: 20px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 2s;
  }

  &:hover a {
    color: #d94f5c;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
/*end of nav bar*/

#header{
    margin-left:10%;
    margin-right: 3.5%;
}

.row{
  display: flex;
}

.headshot{
    width:175%;
    padding-top:12.5%;
    float:left;
}

#imageGrid{
  margin-left:22.5%;
}

.imageCell{
  margin-top:5%;
  margin-right:5%;
  max-width:21%;
}

.image-container{
  position: relative;
  max-width: 21%;
  padding-top:5%;
  margin-right: 5%;
}

.image-container .imageCell{
  max-width: 100%;
}

.overlay {
  margin-top:28%;
  height:77%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Darken effect */
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: opacity 0.3s ease;
}

.overlay .text {
  text-align: center;
  margin-left:1%;
  margin-right:1%;
}

.image-container:hover .overlay {
  opacity: 1;
}

#footer{
  margin-bottom:10%;
}

#imageColumn{
  margin-left:10%;
}

#textColumn{
    margin-right:10%;
    margin-left:8%;
}

.spacer{
    padding-top:1%;
}

/* Card Container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 2%;
    padding-left:10%;
    padding-right:10%; 
}

/* Card styles */
.card {
    background-color: #fff;
    border-radius:1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:350px;
    height:425px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.02);
}

.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    flex: 1;
    padding-left:4.5%;
    padding-right:4.5%;
    padding-top:3.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-title {
    font-size: 1.5em;
    margin: 0 0 8px 0;
    color: #000700;
}

.card-description {
    font-size: 1em;
    color: #000700;
    margin: 0 0 16px 0;
    text-align: left;
    line-height: 1.4;
}

.title{
    text-align: center;
}

.description{
    text-align: center;
}

hr{
    width:60%;
    margin:auto;
    border:none;
    height:2px;
    color:#000700;
    background-color: #000700;
}

a{
  text-decoration: none;
}