@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #fbfbfb;
  font-family: "Asap";
  line-height: 1.5;
}

/*nav bar*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  height: 20vh;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  text-align: center;

  a {
    font-size: 20px;
    text-decoration: none;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
/*end of nav bar*/

#main_header{
  margin-left:20.5%;
}

#header{
    margin-left:10%;
}

.row{
  display: flex;
}

.headshot{
    width:70%;
    padding-top:5%;
    float:left;
}

#imageColumn{
  margin-left:20.6%;
}

#textColumn{
    margin-right:21.5%;
}

.spacer{
    padding-top:1.75%;
}

.line_break{
  padding-top:1%;
}

.paragraph{
  margin-left:20%;
  margin-right:19.5%;
  margin-top:1%;
  margin-bottom:1%;
}

.inline_image{
  width:30%;
  margin-left:34%;
  margin-top:2%;
  margin-bottom:1%;
}

.caption{
  margin-left:23%;
  margin-right:22.5%;
  font-size:smaller;
}

/* Card Container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 2%;
    padding-left:10%;
    padding-right:10%; 
}

/* Card styles */
.card {
    background-color: #fff;
    border-radius:1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:350px;
    height:425px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.02);
}

.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    flex: 1;
    padding-left:4.5%;
    padding-right:4.5%;
    padding-top:3.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-title {
    font-size: 1.225em;
    margin: 0 0 8px 0;
    color: #000700;
}

.card-description {
    font-size: 1em;
    color: #000700;
    margin: 0 0 16px 0;
    text-align: left;
    line-height: 1.4;
}

.title{
    font-size:2.5em;
    font-weight:400;
    text-align: center;
}

.description{
    text-align: center;
}

#content_divider{
    width:60%;
    margin:auto;
    border:none;
    height:2px;
    color:#000700;
    background-color: #000700;
}

.main_divider{
  width:58%;
  border:none;
  height:7px;
  background:repeating-linear-gradient(to right, #2fdef5, #2fdef5 20%, #15b015 20%, #15b015 40%, #ff3838 40%, #ff3838 60%, #ba12fc 60%, #ba12fc 80%, #fc9f12 80%, #fc9f12 100%);
  margin-left:20.5%;
  opacity:80%;
}

a{
  text-decoration: none;
}

#imageGrid{
  margin-left:20.5%;
}

.imageCell{
  margin-top:5%;
  margin-right:5%;
  max-width:21%;
}

.image-container{
  position: relative;
  max-width: 21%;
  padding-top:5%;
  margin-right: 5%;
}

.image-container .imageCell{
  max-width: 100%;
}

.overlay {
  margin-top:28%;
  height:77%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: opacity 0.3s ease;
}

.overlay .text {
  text-align: center;
  margin-left:1%;
  margin-right:1%;
}

.image-container:hover .overlay {
  opacity: 1;
}

.footer{
  padding-bottom:10%;
}

.button-23 {
  background-color: #fbfbfb;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 450;
  line-height: 20px;
  margin: 0;
  margin-right:5%;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:hover{
  background: linear-gradient(to right, rgb(135, 206, 250), rgb(135, 206, 250)) no-repeat;
  background-size: 0% 100%;
  animation: fillBackground 0.5s forwards;
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.cv_header_box{
  width:58%;
  height:5%;
  outline: black;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  justify-content: left;
  border: 1px solid #000000;
  border-bottom: 0px;
  margin:auto;
  margin-right:21.5%;
  margin-top: 2.5%;
  padding: 1% 0 1% 1%;
}

.cv-box{
  padding-bottom:5%;
  cursor: pointer;
  width:58%;
  height:5%;
  outline: black;
  transition: background-color 0.3s ease;
  justify-content: left;
  border: 1px solid #000000;
  border-bottom: 0px;
  margin:auto;
  margin-right:21.5%;
  margin-top: 2.5%;
  padding: 1% 0 1% 1%;
  line-height:1.1;
}

.cv-box:hover{
  background: linear-gradient(to right, rgb(135, 206, 250), rgb(135, 206, 250)) no-repeat;
  background-size: 0% 100%;
  animation: fillBackground 1.5s forwards;
}

@keyframes fillBackground {
    0% {
        background-size: 0% 100%; /* Start with no fill */
    }
    100% {
        background-size: 100% 100%; /* Fill the entire div */
    }
}